@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #13191c;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

.like_cont,
.sec,
footer,
body {
  display: flex;
  flex-direction: column;
}

body {
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  align-items: center;
  padding-top: 40px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 80px;
  color: $secondary-color;
  font-size: 32px;
  width: 70%;
  border: 2px solid red;
  height: auto;
  background-image: linear-gradient(black, rgb(39, 30, 30), gray);
}

.logo {
  border: 2px solid $secondary-color;
  width: 200px;
}

.head_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid green;
  width: 70%;
  height: 120px;
}

.head_size {
  width: 60%;
  flex-grow: 10;
  border: 2px solid red;
}

.item_number {
  text-decoration: underline;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 70%;
  height: auto;
  margin-bottom: 80px;
  border: 2px solid white;
}

.grid_img {
  border-radius: 5px;
  width: 100%;
  height: 400px;
  border: 1px solid $secondary-color;
}

.grid_img:hover {
  border: 2px solid red;
}

.sec {
  justify-content: space-between;
  width: 100%;
  height: 600px;
  border-radius: 8px;
}

.space_like {
  display: flex;
  justify-content: space-between;
  color: $secondary-color;
  font-size: 20px;
  width: 100%;
  height: 80px;
  margin-bottom: 0;
  border: 2px solid green;
}

.like_cont {
  height: auto;
  border: 2px solid red;
}

button {
  width: 60px;
  height: 50px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.comment {
  display: flex;
  width: 100%;
  height: 70px;
  font-size: 32px;
  color: $secondary-color;
  background: black;
  justify-content: center;
  align-items: center;
  border: 2px solid $secondary-color;
  border-radius: 5px;
}

footer {
  border-top: 2px solid $secondary-color;
  width: 100%;
  height: 80px;
  justify-content: center;
  padding-left: 40px;
  font-size: 32px;
  color: $secondary-color;
  background: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.9); /* darken the background */

  &::-webkit-scrollbar {
    width: 15px;
    height: 3em; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #e0de61; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 247, 247, 0); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 5px solid #743206; /* creates padding around scroll thumb */
  }
}

.modal-content {
  width: 80%;
  min-height: 80%;
  color: white;
  background-color: #1c1919;
  margin: 2% auto;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 10px;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .image-summary-frame {
    display: flex;
    gap: 30px;
  }

  & .image-frame {
    display: inline-block;
    border: 2px solid gainsboro;
    border-radius: 3px;
  }

  & img {
    border-radius: 3px;
  }

  & h1 {
    margin-top: 0;
  }

  & ul {
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #292b2c;
    gap: 10px;
  }

  & ul li {
    display: flex;
  }

  & ul li dt {
    width: 50px;
  }

  & ul li p {
    margin: 0;
  }

  & .close-btn {
    color: red;
    cursor: pointer;
    font-size: 2.5rem;
    position: absolute;
    top: 5px;
    right: 20px;
  }

  & .comment-frame {
    width: 100%;
    min-height: 200px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;

    & ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    & input {
      width: 100%;
    }
  }

  .btn {
    background-color: $secondary-color;
    color: $primary-color;
    border: 0;
    height: 20px;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    cursor: pointer;
    align-self: center;

    &:active {
      transform: scale(0.98);
    }

    &:focus {
      outline: 0;
    }
  }
}
